.projects {
    background-color: #f7f7f7;
  }
  
  .projects h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .project-item {
    margin-bottom: 30px;
  }
  
  .project-item h3 {
    font-size: 2em;
    color: #007bff;
  }
  
  .project-item p {
    font-size: 1.1em;
    line-height: 1.5em;
    margin-top: 10px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  